<?xml version='1.0' encoding='utf-8'?>
<plugin id="ldplugin.clipslib" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>com.leedian.plugin.clipslib</name><js-module name="com.leedian.plugin.clipslib" src="www/com.leedian.plugin.clipslib.js"><clobbers target="cordova.plugins.com.leedian.plugin.clipslib" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="com.leedian.plugin.clipslib"><param name="android-package" value="ldplugin.clipslib.com.leedian.plugin.clipslib" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/com.leedian.plugin.clipslib.java" target-dir="src/ldplugin/clipslib/com.leedian.plugin.clipslib" /></platform></plugin>