<?xml version='1.0' encoding='utf-8'?>
<plugin id="leedian.plugin.clipslib" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>Clipslib</name><js-module name="Clipslib" src="www/Clipslib.js"><clobbers target="cordova.plugins.Clipslib" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="Clipslib"><param name="android-package" value="leedian.plugin.clipslib.Clipslib" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/Clipslib.java" target-dir="src/leedian/plugin/clipslib/Clipslib" /></platform></plugin>